*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 80%;
    min-height: 100px;
    border: 2px solid black;
    margin: auto; 
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(2, 2, 44);
}
.header h1{
    padding-top: 5px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(159, 159, 204);
    margin-top: 10px;
    padding: 15px;
}
.menu a{
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.menu a:hover{
    background-color: rgb(15, 15, 71);
    color: white;
}
.slider{
    width: 100%;
    height: 300px;
}
.slider img{
    width: 100%;
    height: 100%;
}